<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Home</title>
</head>

<body>
  <h1>
    CRUD Operations with the help of Template Engine (EJS)
  </h1>
  <form action="/createUser" method="POST" class="form">
    <h3>Sign Up</h3>
    <input type="text" name="name" placeholder="name" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Submit</button>
  </form>
</body>

</html>